.activities-list_button_container {
  text-align: center;
  display: block;
  padding: 2em 0 1em 0;
}

.activities-list_button_get_activities {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 3vmin;
  width: 10em;
  margin: 2em;
  // margin: 2em 25% 1em 25%;
  padding: 1em;
  background: red;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.activities-list_button_get_activities:focus {
  outline: none;
}

.activities-list_button_distance_metric {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3vmin;
  width: 10em;
  margin: 0 auto;
  // margin: 2em 25% 1em 25%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.activities-list_button_distance_metric:focus {
  outline: none;
}

.activities-list_div {
  font-family: "Josefin Sans", sans-serif;
  font-size: 4vmin;
  margin: 0.5em 25% 1.5em 25%;
  padding: 1em;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}
