@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

$appcolor: #fc5200;
$appfont: "Josefin Sans", cursive;
$bgcolor: #f7f0f0;
// BACKGROUND

.loginpage {
  background-image: url("https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2106&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-size: cover;
  height: 1000px;
}

@media only screen and (max-width: 767px) {
  /* Small screen, non-retina */
  .loginpage {
    background-image: url("https://images.unsplash.com/photo-1452626038306-9aae5e071dd3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2106&q=80");
  }
}

body {
  font-family: $appcolor, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $bgcolor;

  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

/// TYPEWRITER HEADING
h4 {
  padding: 1em;
  text-align: center;
  color: white;
  font-size: 5vmin;
}

.race-challenge a {
  text-align: center;
}

.typewriter {
  margin: 0;
  height: 100%;
  color: $appcolor;
  text-align: center;
  font-size: 5vmin;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 25%;
}

div.typewriter {
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  80% {
    border-color: $appcolor;
  }
}

/// LOGIN BUTTON
.login_button {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 3vmin;
  width: 10em;
  margin: 2em;
  // margin: 2em 25% 1em 25%;
  padding: 1em;
  background: $appcolor;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.login_button:focus {
  outline: none;
}

.login_button_container {
  display: flex;
  justify-content: center;
}
