/* variables */
/* variables */
$appcolor: #fc5200;
$logoheigth: 5em;
$logowidth: 5em;
$fontsize-m: 2em;
$logocolor: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(0%)
  contrast(80%);

// .navbar-logo img {
//   height: $logoheigth;
//   width: $logowidth;
//   filter: $logocolor;
// }

// #heroimg {
//   // padding: 1em;
// }

// #heroimg:hover {
//   filter: white;
// }

nav.navbar {
  // background: $appcolor;
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 10;
  @media screen and (max-width: 960px) {
    transition: 0.8s all ease;
  }
}

.navbar.active {
  background: $appcolor;
}

.navbar_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar_logo {
  color: $appcolor;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.navbar_logo {
  color: white;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.navbar_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.navbar_item {
  height: 80px;
}

.navbarLink {
  color: $appcolor;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navbarLink:hover {
  border-bottom: 4px solid $appcolor;
  transition: all 0.2s ease-out;
  color: $appcolor;
}

.navbarLink.active {
  color: #fff;
}

.fa-bars {
  color: $appcolor;
  // font-family: "FontAwesome" !important;
}

.fa-running {
  color: $appcolor;
  font-size: 2rem;
  // font-family: "FontAwesome" !important;
  // $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
}

.running-icon {
  color: white;
}

.hamburger-white {
  color: white !important;
}

.navbarLink-mobile.active {
  display: none;
  color: white;
}

.navbar_menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navbar_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navbar_menu.active {
    background: #fff;
    // display: flex;
    // align-items: center;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbarLink.active {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    // background-color: #fff;
    color: $appcolor;
  }

  .navbarLink:hover {
    background-color: $appcolor;
    width: 100%;
    color: #fff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .navbar_menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: $appcolor;
    font-size: 2rem;
    // font-family: "FontAwesome" !important;
  }

  .navbarLink-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: $appcolor;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .navbarLink-mobile:hover {
    background: #fff;
    // color: #242424;
    transition: 250ms;
  }
}
