$appcolor: #fc5200;

.start-challenge_header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}

.start-challenges-container {
  justify-content: center;
  align-items: center;
  display: grid;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 2em;
  width: 25em;
  margin: auto;
  margin-bottom: 5%;
  padding: 1em;
  background: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.start-challenges-container_other {
  justify-content: center;
  align-items: center;
  display: grid;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 1.5em;
  width: 25em;
  margin: auto;
  // margin-bottom: 1%;
  padding: 1em 0 0 0;
  // background: white;
  // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  // backdrop-filter: blur(15.5px);
  // -webkit-backdrop-filter: blur(15.5px);
  // border-radius: 1em;
  text-align: center;
}

.start-challenges_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-challenges_button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.start-challenges_button {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 3vmin;
  width: 10em;
  margin: 1em;
  // margin: 2em 25% 1em 25%;
  padding: 1em;
  background: red;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.start-challenges_button:focus {
  outline: none;
}

.select-challenges_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-challenges_button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.select-challenges_button {
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 3vmin;
  width: 10em;
  margin: 1em;
  // margin: 2em 25% 1em 25%;
  padding: 1em;
  background: orange;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.6);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 1em;
  text-align: center;
}

.select-challenges_button:focus {
  outline: none;
}
